<%- include ('partials/header') %>

<body>
  <%- include ('./partials/nav') %>

    <div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
     </div>
 
     <h1>create Story</h1>
   

     <form id="save-form" method="POST" action="/stories/createStory">
        <label for="title">Title</label>
        <input id="title" name="title" required>
        <label for="author">Author</label>
        <input id="author" name="author" required>

        <label for="category">Category</label>
        <input id="category" name="category" >
        <div>
            <div>
                <label for="description">Description</label>
            </div>
            <textarea name="description" class="editable-description " cols="30" rows="10"></textarea>
        </div>
        <button id="save-button"type="submit">Submit</button>

     </form>
     
      

      
</body>
</html>